 <%= render 'layouts/header' %> 
<div class = "container-fluid">
	<div class = "jumbotron">
		<div class = "row">
			<div class = "listing_set_1">
				<div class = "col-md-12">
					<div class = "col-md-3">
						<%= @listing.name %>
					</div>
						<div class = "col-md-2"> 	
							<span class = "label label-info">
								<%= number_to_currency(@listing.price) %>
							</span>
						</div>
							<div class = "col-md-3">
								<%= @listing.condition %>
							</div>
				</div>
			</div>
				<div class = "col-md-12">
					<div class = "col-md-4">
						<%= image_tag @listing.image.url(:medium) %>
					</div>
						<div class = "col-md-4">
							<%= @listing.description %>
						</div>
				</div>
	</div>
</div>